
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
.idea
web/build/
node_modules/
db/
docker/logs/
web/uploads/
###< symfony/framework-bundle ###
